@import "tailwindcss";

@theme {
  --color-primary-50: oklch(97.16% 0.019 161.52);
  --color-primary-100: oklch(92.87% 0.044 161.47);
  --color-primary-200: oklch(85.02% 0.098 161.48);
  --color-primary-300: oklch(75.63% 0.152 161.75);
  --color-primary-400: oklch(65.96% 0.202 161.81);
  --color-primary-500: oklch(56.76% 0.202 161.91);
  --color-primary-600: oklch(47.63% 0.175 161.97);
  --color-primary-700: oklch(39.96% 0.143 162.05);
  --color-primary-800: oklch(33.64% 0.116 162.18);
  --color-primary-900: oklch(28.24% 0.097 162.36);
  --color-primary-950: oklch(17.67% 0.06 162.75);

  --color-surface-0: oklch(100% 0 0);
  --color-surface-50: oklch(97.9% 0.004 257);
  --color-surface-100: oklch(95.3% 0.008 257);
  --color-surface-200: oklch(90.6% 0.016 257);
  --color-surface-300: oklch(82.4% 0.027 257);
  --color-surface-400: oklch(67.7% 0.051 257);
  --color-surface-500: oklch(55.4% 0.06 257);
  --color-surface-600: oklch(44.8% 0.057 257);
  --color-surface-700: oklch(35.9% 0.052 257);
  --color-surface-800: oklch(25.1% 0.044 257);
  --color-surface-900: oklch(15.6% 0.035 257);
  --color-surface-950: oklch(6.6% 0.021 257);
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  display: block;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

#app {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg-primary-400 {
  background-color: var(--color-primary-400);
}
